<div class="seller-auth">
  <div *ngIf="!showLogin" class="signUp">
    <main class="form-signin w-100 m-auto">
      <form #signupform="ngForm" class="common-form" (ngSubmit)="signUp(signupform.value)">
        <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-5 mt-5 fw-normal">Please Sign Up/Register</h1>

        <div class="form-floating mt-3">
          <input type="name" class="form-control" id="floatingInput" placeholder="Name" name="SellerName" ngModel>
          <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mt-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="SellerEmail"
            ngModel>
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mt-3">
          <input class="form-control" id="floatingInput" placeholder="Mobile No" name="mobileNo" ngModel>
          <label for="floatingInput">Mobile no</label>
        </div>
        <div class="form-floating mt-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
            ngModel>
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3 mt-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        <a class="auth-toggle-link d-flex justify-content-center" (click)="openLogin()">Already have an Account? Click here</a>
      </form>
    </main>

  </div>

  <!-- Logged in Area -->
  <div *ngIf="showLogin" class="signUp">
    <main class="form-signin w-100 m-auto">
      <form #signupform="ngForm" class="common-form" (ngSubmit)="sellerLogin(signupform.value)">
        <!-- <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-5 mt-5 fw-normal">Please Sign In</h1>
        <p class="error-p d-flex justify-content-center">{{authError}}</p>
        <div class="form-floating mt-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="SellerEmail"
            ngModel>
          <label for="floatingInput">Email address</label>
        </div>
        
        <div class="form-floating mt-3">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
            ngModel>
          <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3 mt-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <a class="auth-toggle-link d-flex justify-content-center" (click)="openSignUp()">Don't have an Account? Click here</a>
      </form>
    </main>

  </div>
</div>