<div class="product-card d-flex justify-content-center mt-5" *ngIf="productData">
    <div class="row">
        <div class="card-content col-sm-12">
            <!-- <div class=" "> -->
            <img class="product-img" src="assets/{{productData.image}}" alt="{{productData.ProductName}}">
            <!-- </div> -->

            <!-- <div class="col-sm-"> -->
            <h1>{{productData.ProductName}}</h1>
            <h3>{{productData.Price}}</h3>
            <h6>{{productData.Category}}</h6>
            <p>{{productData.Description}}</p>
            <div class="quantity-group">
                <button mat-raised-button (click)="handleQuantity('min')"><mat-icon>-</mat-icon></button>
                <input type="text" value="{{productQuantity}}">
                <button mat-raised-button (click)="handleQuantity('plus')"><mat-icon>+</mat-icon></button>
            </div>
            <!-- </div> -->

        </div>
        <div class="card-actions">
            <button *ngIf="!addToCart" mat-button class="btn-add-cart" (click)="AddToCart()">Add to Cart</button>
            <button *ngIf="addToCart" mat-button class="btn-add-cart" (click)="goToCart()">Go to Cart</button>
            <button *ngIf="addToCart" mat-button class="btn-remove-cart" (click)="removeToCart(productData.id)">Remove From Cart</button>
            <button mat-button class="btn-buy-now">Buy Now</button>
        </div>
    </div>
</div>
<!-- </mat-card> -->