.form-signin {
    max-width: 330px;
    padding: 15px;
}
.h1{
    text-align: center
}

.checkbox{
    text-align: center
}

.auth-toggle-link {
    color: #007bff; /* changes the text color to a blue shade */
    font-size: 16px; /* sets the font size to 16 pixels */
    font-weight: bold; /* makes the font bold */
    text-decoration: none; /* removes the underline */
    transition: color 0.3s ease-in-out; /* adds a smooth transition effect to the color property */
  }
  
  .auth-toggle-link:hover {
    color: #0056b3; /* changes the text color to a darker blue shade when hovering over the link */
    text-decoration: none; /* removes the underline when hovering over the link */
    cursor: pointer; /* changes the cursor to a hand pointer when hovering over the link */
  }
  
/* Center the seller-auth container vertically and horizontally */
.seller-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 100vh;
  }

.signUp:hover {
    background-color: #f2f2f2;
  }
  
  /* Style the sign-up and log-in forms */
  .signUp {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    // margin-top: 50px;
    max-width: 400px;
    padding: 40px;
    // margin: 0 auto;
  }
  
  .signUp h1 {
    text-align: center;
  }
  
  /* Style the form inputs */
  .form-floating {
    margin-bottom: 1rem;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* Style the remember me checkbox */
  .checkbox {
    font-weight: normal;
  }
  
  /* Style the sign-up and log-in buttons */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  /* Style the "Already have an account?" and "Don't have an account?" links */
  .auth-toggle-link {
    display: block;
    margin-top: 1rem;
    text-align: center;
    color: #007bff;
    text-decoration: none;
  }
  
  .auth-toggle-link:hover {
    text-decoration: underline;
  }


  button[mat-icon-button] {
    position :relative;
    margin-left: 90%;
  }
  