// .cart-page {
    // margin-top: 30px;
    // padding: 20px;
    // background-color: #ddd;
    // // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    // border-radius: 10px;
    // box-shadow: 10px 8px 12px rgba(0, 0, 0, 0.3);
    // transform: translateY(-5px);    
    // transition: box-shadow 0.3s ease-in-out;
// }

.details {
    padding: 20px;
    background-color: #ddd;
    // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 10px 8px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-8px);    
    transition: box-shadow 0.3s ease-in-out;
    
    display: flex;
    align-items:center;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}


li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

img {
    max-width: 100px;
    margin-right: 10px;
}

.summary {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    // display:table-row;
    background-color: #ddd;
    // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 10px 8px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);    
    transition: box-shadow 0.3s ease-in-out;
}
    
// summary h3 {
//     text-align: center;
// }

// .summary_ul {
//     list-style-type: none;
//     // padding: 5px;
// }

.summary_li {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // margin-bottom: 10px;
}

.summary span {
    font-size: 16px;
    color: #343a40;
}

.summary h4 {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

// .btn {
//     margin-top: 10px;
// }

// .btn-danger {
//     background-color: #dc3545;
//     color: #ffffff;
//     border: none;
// }